# Polars

In [2]:
import polars as pl
import pandas as pd
import numpy as np

pl.Config.set_tbl_rows(5)
pd.options.display.max_rows = 5

## A little bit about Rust

## Available data structures

#### Series

In [25]:
pl.Series([1, 2, 3, 4, 5.5])

shape: (5,)
Series: '' [f64]
[
	1.0
	2.0
	3.0
	4.0
	5.5
]

#### DataFrames

In [26]:
pl.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})

shape: (3, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 4   │
│ 2   ┆ 5   │
│ 3   ┆ 6   │
└─────┴─────┘

In [27]:
pd.DataFrame([[1, 2, 3], ["aa", "b", "c"]])

    0  1  2
0   1  2  3
1  aa  b  c

In [28]:
pl.DataFrame([[1, 2, 3], ["aa", "b", "c"]])

shape: (3, 2)
┌──────────┬──────────┐
│ column_0 ┆ column_1 │
│ ---      ┆ ---      │
│ i64      ┆ str      │
╞══════════╪══════════╡
│ 1        ┆ aa       │
│ 2        ┆ b        │
│ 3        ┆ c        │
└──────────┴──────────┘

## Reading data and first touch

In [7]:
cars_pd = pd.read_csv("data/Electric_Vehicle_Population_Data.csv")
cars_pl = pl.read_csv("data/Electric_Vehicle_Population_Data.csv")

In [8]:
cars_pl

shape: (153_830, 17)
┌────────────┬────────┬────────┬───────┬───┬────────────────┬──────────────────────┬─────────────────────┬─────────────┐
│ VIN (1-10) ┆ County ┆ City   ┆ State ┆ … ┆ DOL Vehicle ID ┆ Vehicle Location     ┆ Electric Utility    ┆ 2020 Census │
│ ---        ┆ ---    ┆ ---    ┆ ---   ┆   ┆ ---            ┆ ---                  ┆ ---                 ┆ Tract       │
│ str        ┆ str    ┆ str    ┆ str   ┆   ┆ i64            ┆ str                  ┆ str                 ┆ ---         │
│            ┆        ┆        ┆       ┆   ┆                ┆                      ┆                     ┆ i64         │
╞════════════╪════════╪════════╪═══════╪═══╪════════════════╪══════════════════════╪═════════════════════╪═════════════╡
│ 5UXTA6C05P ┆ Yakima ┆ Yakima ┆ WA    ┆ … ┆ 227153587      ┆ POINT (-120.477805   ┆ PACIFICORP          ┆ 53077002803 │
│            ┆        ┆        ┆       ┆   ┆                ┆ 46.553505)           ┆                     ┆             │
│ 5YJRE11B48 ┆ null   ┆ null   ┆ BC    ┆ … ┆ 143609049      ┆ null                 ┆ null                ┆ null        │
│ …          ┆ …      ┆ …      ┆ …     ┆ … ┆ …              ┆ …                    ┆ …                   ┆ …           │
│ 1G1FW6S03P ┆ King   ┆ Seatac ┆ WA    ┆ … ┆ 244720059      ┆ POINT (-122.29179    ┆ PUGET SOUND ENERGY  ┆ 53033028801 │
│            ┆        ┆        ┆       ┆   ┆                ┆ 47.43473)            ┆ INC||CITY OF …      ┆             │
│ 3FMTK3SU1M ┆ King   ┆ Kent   ┆ WA    ┆ … ┆ 186104215      ┆ POINT (-122.2012521  ┆ PUGET SOUND ENERGY  ┆ 53033029206 │
│            ┆        ┆        ┆       ┆   ┆                ┆ 47.3931814)          ┆ INC||CITY OF …      ┆             │
│ 1N4AZ0CP0D ┆ Pierce ┆ Tacoma ┆ WA    ┆ … ┆ 153724504      ┆ POINT (-122.5113356  ┆ BONNEVILLE POWER    ┆ 53053060500 │
│            ┆        ┆        ┆       ┆   ┆                ┆ 47.2923828)          ┆ ADMINISTRATION|…    ┆             │
└────────────┴────────┴────────┴───────┴───┴────────────────┴──────────────────────┴─────────────────────┴─────────────┘

In [9]:
cars_pl.head(1)

shape: (1, 17)
┌────────────┬────────┬────────┬───────┬───┬────────────────┬───────────────────┬──────────────────┬───────────────────┐
│ VIN (1-10) ┆ County ┆ City   ┆ State ┆ … ┆ DOL Vehicle ID ┆ Vehicle Location  ┆ Electric Utility ┆ 2020 Census Tract │
│ ---        ┆ ---    ┆ ---    ┆ ---   ┆   ┆ ---            ┆ ---               ┆ ---              ┆ ---               │
│ str        ┆ str    ┆ str    ┆ str   ┆   ┆ i64            ┆ str               ┆ str              ┆ i64               │
╞════════════╪════════╪════════╪═══════╪═══╪════════════════╪═══════════════════╪══════════════════╪═══════════════════╡
│ 5UXTA6C05P ┆ Yakima ┆ Yakima ┆ WA    ┆ … ┆ 227153587      ┆ POINT             ┆ PACIFICORP       ┆ 53077002803       │
│            ┆        ┆        ┆       ┆   ┆                ┆ (-120.477805      ┆                  ┆                   │
│            ┆        ┆        ┆       ┆   ┆                ┆ 46.553505)        ┆                  ┆                   │
└────────────┴────────┴────────┴───────┴───┴────────────────┴───────────────────┴──────────────────┴───────────────────┘

In [10]:
cars_pd.head(1)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C05P,Yakima,Yakima,WA,98903.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14.0,227153587,POINT (-120.477805 46.553505),PACIFICORP,5.307700e+10

In [11]:
cars_pl.describe()

shape: (9, 18)
┌────────────┬────────────┬─────────────┬────────┬───┬────────────────┬────────────────┬───────────────┬───────────────┐
│ describe   ┆ VIN (1-10) ┆ County      ┆ City   ┆ … ┆ DOL Vehicle ID ┆ Vehicle        ┆ Electric      ┆ 2020 Census   │
│ ---        ┆ ---        ┆ ---         ┆ ---    ┆   ┆ ---            ┆ Location       ┆ Utility       ┆ Tract         │
│ str        ┆ str        ┆ str         ┆ str    ┆   ┆ f64            ┆ ---            ┆ ---           ┆ ---           │
│            ┆            ┆             ┆        ┆   ┆                ┆ str            ┆ str           ┆ f64           │
╞════════════╪════════════╪═════════════╪════════╪═══╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ count      ┆ 153830     ┆ 153830      ┆ 153830 ┆ … ┆ 153830.0       ┆ 153830         ┆ 153830        ┆ 153830.0      │
│ null_count ┆ 0          ┆ 3           ┆ 3      ┆ … ┆ 0.0            ┆ 7              ┆ 3             ┆ 3.0           │
│ …          ┆ …          ┆ …           ┆ …      ┆ … ┆ …              ┆ …              ┆ …             ┆ …             │
│ 50%        ┆ null       ┆ null        ┆ null   ┆ … ┆ 2.18328729e8   ┆ null           ┆ null          ┆ 5.3033e10     │
│ 75%        ┆ null       ┆ null        ┆ null   ┆ … ┆ 2.41506226e8   ┆ null           ┆ null          ┆ 5.3053e10     │
│ max        ┆ ZASPATDWXR ┆ Yellowstone ┆ Zillah ┆ … ┆ 4.79254772e8   ┆ POINT          ┆ PUGET SOUND   ┆ 5.6033e10     │
│            ┆            ┆             ┆        ┆   ┆                ┆ (-98.66992     ┆ ENERGY        ┆               │
│            ┆            ┆             ┆        ┆   ┆                ┆ 29.5366501)    ┆ INC||PUD NO   ┆               │
│            ┆            ┆             ┆        ┆   ┆                ┆                ┆ 1…            ┆               │
└────────────┴────────────┴─────────────┴────────┴───┴────────────────┴────────────────┴───────────────┴───────────────┘

## Missing data

Missing data formats in `polars` are `null` (applicable for all data types) and `NaN` (which is only applicable for float values).

In [13]:
null_ex = pl.DataFrame(
    {
        "a": ["abc", "acd", "ade", None],
        "b": [1.2, 4.5, 9.0, np.nan],
        "c": [3, 4, 1, None]
    }
)
null_ex

shape: (4, 3)
┌──────┬─────┬──────┐
│ a    ┆ b   ┆ c    │
│ ---  ┆ --- ┆ ---  │
│ str  ┆ f64 ┆ i64  │
╞══════╪═════╪══════╡
│ abc  ┆ 1.2 ┆ 3    │
│ acd  ┆ 4.5 ┆ 4    │
│ ade  ┆ 9.0 ┆ 1    │
│ null ┆ NaN ┆ null │
└──────┴─────┴──────┘

In [20]:
null_ex.null_count()

shape: (1, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ u32 ┆ u32 ┆ u32 │
╞═════╪═════╪═════╡
│ 1   ┆ 0   ┆ 1   │
└─────┴─────┴─────┘

In [24]:
null_ex.select(pl.col("*").is_null())

shape: (4, 3)
┌───────┬───────┬───────┐
│ a     ┆ b     ┆ c     │
│ ---   ┆ ---   ┆ ---   │
│ bool  ┆ bool  ┆ bool  │
╞═══════╪═══════╪═══════╡
│ false ┆ false ┆ false │
│ false ┆ false ┆ false │
│ false ┆ false ┆ false │
│ true  ┆ false ┆ true  │
└───────┴───────┴───────┘

In [23]:
null_ex.select(pl.col("b").is_nan())

shape: (4, 1)
┌───────┐
│ b     │
│ ---   │
│ bool  │
╞═══════╡
│ false │
│ false │
│ false │
│ true  │
└───────┘

In [15]:
null_ex.select(pl.col("c")).mean()

shape: (1, 1)
┌──────────┐
│ c        │
│ ---      │
│ f64      │
╞══════════╡
│ 2.666667 │
└──────────┘

In [16]:
null_ex.select(pl.col("b")).mean()

shape: (1, 1)
┌─────┐
│ b   │
│ --- │
│ f64 │
╞═════╡
│ NaN │
└─────┘

## Selecting data

|               | Pandas                                                                 | Polars                                                                                          |
| ------------- | ---------------------------------------------------------------------- | ----------------------------------------------------------------------------------------------- |
| **Selecting** | <code>df[cols] <br> df.loc[rows, cols] <br> df.iloc[rows, cols]</code> | <code>df[rows, cols]</code> <img src="img/unsafe.svg" width="25"/> <br> <code>df.select(cols) <br> df.slice(offset, length)</code> |

In [30]:
cars_pd.loc[1997:2001, ["Model", "Electric Vehicle Type"]]

        Model                   Electric Vehicle Type
1997   FUSION  Plug-in Hybrid Electric Vehicle (PHEV)
1998  MODEL 3          Battery Electric Vehicle (BEV)
1999  MODEL 3          Battery Electric Vehicle (BEV)
2000   FUSION  Plug-in Hybrid Electric Vehicle (PHEV)
2001     LEAF          Battery Electric Vehicle (BEV)

In [68]:
cars_pl.select(["Model", "Electric Vehicle Type"]).slice(1997, 5)

shape: (5, 2)
┌─────────┬───────────────────────────────────┐
│ Model   ┆ Electric Vehicle Type             │
│ ---     ┆ ---                               │
│ str     ┆ str                               │
╞═════════╪═══════════════════════════════════╡
│ FUSION  ┆ Plug-in Hybrid Electric Vehicle … │
│ MODEL 3 ┆ Battery Electric Vehicle (BEV)    │
│ MODEL 3 ┆ Battery Electric Vehicle (BEV)    │
│ FUSION  ┆ Plug-in Hybrid Electric Vehicle … │
│ LEAF    ┆ Battery Electric Vehicle (BEV)    │
└─────────┴───────────────────────────────────┘

## Filtering data

|               | Pandas                                                                 | Polars                                                                                          |
| ------------- | ---------------------------------------------------------------------- | ----------------------------------------------------------------------------------------------- |
| **Filtering** | <code>df.loc[condition]</code> | <code>df.filter(condition)</code> |

In [62]:
cars_pd.loc[cars_pd["Model Year"] == 2023, ["Make", "Model", "Model Year"]]

             Make     Model  Model Year
0             BMW        X5        2023
17          TESLA   MODEL Y        2023
...           ...       ...         ...
153819  CHEVROLET  BOLT EUV        2023
153827  CHEVROLET   BOLT EV        2023

[41159 rows x 3 columns]

In [65]:
cars_pl.filter(pl.col("Model Year") == 2023).select(["Make", "Model", "Model Year"])

shape: (41_159, 3)
┌───────────┬──────────┬────────────┐
│ Make      ┆ Model    ┆ Model Year │
│ ---       ┆ ---      ┆ ---        │
│ str       ┆ str      ┆ i64        │
╞═══════════╪══════════╪════════════╡
│ BMW       ┆ X5       ┆ 2023       │
│ TESLA     ┆ MODEL Y  ┆ 2023       │
│ …         ┆ …        ┆ …          │
│ TESLA     ┆ MODEL Y  ┆ 2023       │
│ CHEVROLET ┆ BOLT EUV ┆ 2023       │
│ CHEVROLET ┆ BOLT EV  ┆ 2023       │
└───────────┴──────────┴────────────┘

## Assignment

|               | Pandas                                                                 | Polars                                                                                          |
| ------------- | ---------------------------------------------------------------------- | ----------------------------------------------------------------------------------------------- |
| **Assigning** | <code>df.loc[condition, col] = val <br> df.assign(col = df[col].mask(condition, value))</code> | <code>df.with_columns(pl.when(condition).then(val1).otherwise(val2))</code> <img src="img/happy.svg" width="25"/> |

In [82]:
cars_pd[cars_pd["Make"] == "TESLA"]["Electric Range"] = cars_pd["Electric Range"] - 10
cars_pd

C:\Users\klaud\AppData\Local\Temp\ipykernel_7700\934722754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_pd[cars_pd["Make"] == "TESLA"]["Electric Range"] = cars_pd["Electric Range"] - 10

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C05P,Yakima,Yakima,WA,98903.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14.0,227153587,POINT (-120.477805 46.553505),PACIFICORP,5.307700e+10
1,5YJRE11B48,NaN,NaN,BC,NaN,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,98950,NaN,143609049,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153828,3FMTK3SU1M,King,Kent,WA,98031.0,2021,FORD,MUSTANG MACH-E,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,186104215,POINT (-122.2012521 47.3931814),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153829,1N4AZ0CP0D,Pierce,Tacoma,WA,98407.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,27.0,153724504,POINT (-122.5113356 47.2923828),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10

In [80]:
cars_pd.loc[cars_pd["Make"] == "TESLA", "Electric Range"] = cars_pd["Electric Range"] - 10
cars_pd

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C05P,Yakima,Yakima,WA,98903.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14.0,227153587,POINT (-120.477805 46.553505),PACIFICORP,5.307700e+10
1,5YJRE11B48,NaN,NaN,BC,NaN,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,98950,NaN,143609049,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153828,3FMTK3SU1M,King,Kent,WA,98031.0,2021,FORD,MUSTANG MACH-E,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,186104215,POINT (-122.2012521 47.3931814),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153829,1N4AZ0CP0D,Pierce,Tacoma,WA,98407.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,27.0,153724504,POINT (-122.5113356 47.2923828),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10

In [94]:
cars_pd.assign(**{"Electric Range": cars_pd["Electric Range"].mask(cars_pd["Make"] == "TESLA", cars_pd["Electric Range"] - 10)})

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C05P,Yakima,Yakima,WA,98903.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14.0,227153587,POINT (-120.477805 46.553505),PACIFICORP,5.307700e+10
1,5YJRE11B48,NaN,NaN,BC,NaN,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,200,98950,NaN,143609049,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153828,3FMTK3SU1M,King,Kent,WA,98031.0,2021,FORD,MUSTANG MACH-E,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,186104215,POINT (-122.2012521 47.3931814),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153829,1N4AZ0CP0D,Pierce,Tacoma,WA,98407.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,27.0,153724504,POINT (-122.5113356 47.2923828),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10

In [100]:
cars_pl.with_columns(
    pl.when(pl.col("Make") == "TESLA")
    .then(pl.col("Electric Range") - 10)
    .otherwise(pl.col("Electric Range"))
)

shape: (153_830, 17)
┌────────────┬────────┬────────┬───────┬───┬─────────────┬─────────────┬─────────────┬─────────────┐
│ VIN (1-10) ┆ County ┆ City   ┆ State ┆ … ┆ DOL Vehicle ┆ Vehicle     ┆ Electric    ┆ 2020 Census │
│ ---        ┆ ---    ┆ ---    ┆ ---   ┆   ┆ ID          ┆ Location    ┆ Utility     ┆ Tract       │
│ str        ┆ str    ┆ str    ┆ str   ┆   ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│            ┆        ┆        ┆       ┆   ┆ i64         ┆ str         ┆ str         ┆ i64         │
╞════════════╪════════╪════════╪═══════╪═══╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 5UXTA6C05P ┆ Yakima ┆ Yakima ┆ WA    ┆ … ┆ 227153587   ┆ POINT (-120 ┆ PACIFICORP  ┆ 53077002803 │
│            ┆        ┆        ┆       ┆   ┆             ┆ .477805     ┆             ┆             │
│            ┆        ┆        ┆       ┆   ┆             ┆ 46.553505)  ┆             ┆             │
│ 5YJRE11B48 ┆ null   ┆ null   ┆ BC    ┆ … ┆ 143609049   ┆ null        ┆ null        ┆ null        │
│ …          ┆ …      ┆ …      ┆ …     ┆ … ┆ …           ┆ …           ┆ …           ┆ …           │
│ 1G1FW6S03P ┆ King   ┆ Seatac ┆ WA    ┆ … ┆ 244720059   ┆ POINT       ┆ PUGET SOUND ┆ 53033028801 │
│            ┆        ┆        ┆       ┆   ┆             ┆ (-122.29179 ┆ ENERGY      ┆             │
│            ┆        ┆        ┆       ┆   ┆             ┆ 47.43473)   ┆ INC||CITY   ┆             │
│            ┆        ┆        ┆       ┆   ┆             ┆             ┆ OF …        ┆             │
│ 3FMTK3SU1M ┆ King   ┆ Kent   ┆ WA    ┆ … ┆ 186104215   ┆ POINT (-122 ┆ PUGET SOUND ┆ 53033029206 │
│            ┆        ┆        ┆       ┆   ┆             ┆ .2012521    ┆ ENERGY      ┆             │
│            ┆        ┆        ┆       ┆   ┆             ┆ 47.3931814) ┆ INC||CITY   ┆             │
│            ┆        ┆        ┆       ┆   ┆             ┆             ┆ OF …        ┆             │
│ 1N4AZ0CP0D ┆ Pierce ┆ Tacoma ┆ WA    ┆ … ┆ 153724504   ┆ POINT (-122 ┆ BONNEVILLE  ┆ 53053060500 │
│            ┆        ┆        ┆       ┆   ┆             ┆ .5113356    ┆ POWER ADMIN ┆             │
│            ┆        ┆        ┆       ┆   ┆             ┆ 47.2923828) ┆ ISTRATION|… ┆             │
└────────────┴────────┴────────┴───────┴───┴─────────────┴─────────────┴─────────────┴─────────────┘

<h2>Zadanie 1</h2>

Znajdź marki samochodów, dla których średni zasięg elektryczny jest większy niż 50. Posortuj je malejąco ze względu na tę wartość.

shape: (11, 2)
┌──────────────────────┬─────────────────────┐
│ Make                 ┆ Mean Electric Range │
│ ---                  ┆ ---                 │
│ str                  ┆ f64                 │
╞══════════════════════╪═════════════════════╡
│ JAGUAR               ┆ 202.8               │
│ WHEEGO ELECTRIC CARS ┆ 100.0               │
│ …                    ┆ …                   │
│ AZURE DYNAMICS       ┆ 56.0                │
│ AUDI                 ┆ 52.992889           │
│ KIA                  ┆ 50.158708           │
└──────────────────────┴─────────────────────┘

## Using SQL

SQL queries are executed lazily.

In [38]:
sql_ctx = pl.SQLContext(cars=cars_pl)

In [39]:
query = """SELECT * FROM cars
           WHERE "Model Year" = 2023
           ORDER BY "Electric Range" DESC
           LIMIT 3
           """
sql_ctx.execute(query, eager=True)
# sql_ctx.execute(query).collect()

shape: (3, 17)
┌────────────┬────────┬───────────┬───────┬───┬────────────────┬──────────────┬────────────────────┬───────────────────┐
│ VIN (1-10) ┆ County ┆ City      ┆ State ┆ … ┆ DOL Vehicle ID ┆ Vehicle      ┆ Electric Utility   ┆ 2020 Census Tract │
│ ---        ┆ ---    ┆ ---       ┆ ---   ┆   ┆ ---            ┆ Location     ┆ ---                ┆ ---               │
│ str        ┆ str    ┆ str       ┆ str   ┆   ┆ i64            ┆ ---          ┆ str                ┆ i64               │
│            ┆        ┆           ┆       ┆   ┆                ┆ str          ┆                    ┆                   │
╞════════════╪════════╪═══════════╪═══════╪═══╪════════════════╪══════════════╪════════════════════╪═══════════════════╡
│ SALKP9F4XP ┆ King   ┆ Seattle   ┆ WA    ┆ … ┆ 238061995      ┆ POINT        ┆ CITY OF SEATTLE -  ┆ 53033006300       │
│            ┆        ┆           ┆       ┆   ┆                ┆ (-122.306935 ┆ (WA)|CITY OF T…    ┆                   │
│            ┆        ┆           ┆       ┆   ┆                ┆ 47.62441)    ┆                    ┆                   │
│ SALKP9F40P ┆ Chelan ┆ Wenatchee ┆ WA    ┆ … ┆ 240695801      ┆ POINT        ┆ PUD NO 1 OF CHELAN ┆ 53007961102       │
│            ┆        ┆           ┆       ┆   ┆                ┆ (-120.32009  ┆ COUNTY             ┆                   │
│            ┆        ┆           ┆       ┆   ┆                ┆ 47.42255)    ┆                    ┆                   │
│ SALKP9F44P ┆ King   ┆ Issaquah  ┆ WA    ┆ … ┆ 228739325      ┆ POINT        ┆ PUGET SOUND ENERGY ┆ 53033032221       │
│            ┆        ┆           ┆       ┆   ┆                ┆ (-121.999595 ┆ INC||CITY OF …     ┆                   │
│            ┆        ┆           ┆       ┆   ┆                ┆ 47.547635)   ┆                    ┆                   │
└────────────┴────────┴───────────┴───────┴───┴────────────────┴──────────────┴────────────────────┴───────────────────┘